@font-face {
  font-family: montserrat-thin;
  src: url(src/assets/fonts/Montserrat/static/Montserrat-Thin.ttf)
}

@font-face {
  font-family: bebas;
  src: url(src/assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf)
}

* {
  font-family: 'montserrat-thin', sans-serif;
  color: white;
}
